<a href="https://colab.research.google.com/github/pavans-reddy/Python-for-DataScience/blob/main/Tasks_using_Numpy_and_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task1: Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = np.random.rand(4,4)
data

array([[0.65375118, 0.37638956, 0.63074062, 0.79518464],
       [0.43804274, 0.33368562, 0.2678555 , 0.95656853],
       [0.01920395, 0.35963623, 0.4511896 , 0.79566457],
       [0.26686722, 0.7544255 , 0.22908346, 0.22496419]])

In [ ]:
df = pd.DataFrame(data,columns = ["Feature1","Feature2","Feature3","Feature4"])
df

   Feature1  Feature2  Feature3  Feature4
0  0.653751  0.376390  0.630741  0.795185
1  0.438043  0.333686  0.267855  0.956569
2  0.019204  0.359636  0.451190  0.795665
3  0.266867  0.754425  0.229083  0.224964

Task2: Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [ ]:
df.rename(columns={'Feature1': 'Random value 1', 'Feature2': 'Random value 2',
                   'Feature3': 'Random value 3', 'Feature4': 'Random value 4'},inplace = True)
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.653751        0.376390        0.630741        0.795185
1        0.438043        0.333686        0.267855        0.956569
2        0.019204        0.359636        0.451190        0.795665
3        0.266867        0.754425        0.229083        0.224964

Task3: Find the descriptive statistics of the 'df' dataframe.

In [ ]:
df.describe(include = "all")

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.344466        0.456034        0.394717        0.693095
std          0.268472        0.199702        0.184774        0.321200
min          0.019204        0.333686        0.229083        0.224964
25%          0.204951        0.353149        0.258162        0.652630
50%          0.352455        0.368013        0.359523        0.795425
75%          0.491970        0.470899        0.496077        0.835891
max          0.653751        0.754425        0.630741        0.956569

Task4: Check for the null values in 'df' and find the data type of the columns.

In [ ]:
# Checking for null values
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# Finding the datatype
datatype = df.dtypes
datatype

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task - 5
Display the 'Random value 2' & 'Random value 3' columns with location method and index location method.

In [ ]:
# Location
df.loc[:,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.376390        0.630741
1        0.333686        0.267855
2        0.359636        0.451190
3        0.754425        0.229083

In [ ]:
# Index Location
df.iloc[:,1:3]

   Random value 2  Random value 3
0        0.376390        0.630741
1        0.333686        0.267855
2        0.359636        0.451190
3        0.754425        0.229083